<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola, <%= @user.name %></h1>
    <p>
      Hay una empresa que busca personal con tus caracteristicas y habilidades.<br>
      Deberias revisar su publicacion para ver si te interesa la oferta.
      Si es que te interesa mas sobre la empresa puedes seguirla para enterarte de sus actividades o publicaciones.
    </p>
      Si la publicacion no te interesa puedes ignorarla simplemente
    <p>
      Gracias por ser parte de nuestra red y esperamos saques provecho de ella.
       !Te esperamos!.
    </p>
    </body>
</html>
