/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
/* line 19, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.item-menu {
  background-color: #4285f4;
  height: 55px;
  padding: 18px;
  color: white;
  width: 100%;
}

/* line 28, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.boton-enviar {
  background-color: #4285f4;
  height: 55px;
  padding: 18px;
  color: white;
  width: 100%;
  border: 0;
}

/* line 38, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.boton-enviar:hover {
  background-color: #e74c3c;
  color: white;
  font-size: 1.5em;
  padding: 13px;
  cursor: pointer;
}

/* line 45, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
hr {
  padding: 0;
  margin: 0;
}

/* line 49, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.item-menu:hover, .activo {
  background-color: #3a539b;
  color: white;
  font-size: 1.5em;
  padding: 13px;
  cursor: pointer;
}

/* line 56, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.contenedor-menu {
  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

/* line 66, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
body {
  background-color: #d8dfea;
}

/* line 72, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
#otro {
  display: block;
}

/* line 76, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.informacion-basica, .experiencia-profesional, .formacion-academica {
  display: none;
}

/* line 82, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.campo-foto {
  display: none;
}

/* line 86, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
#imagePreview {
  width: 80px;
  height: 80px;
  background-size: cover;
  padding: 0;
  margin-top: 7px;
  margin-bottom: 5px;
  background-image: url("/assets/missing-174179c6184175247b6db3abe23a4faf.png");
  border: 0;
}

/* line 99, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
label[for=resume_photos_attributes_0_photo] {
  padding-top: 4px;
  cursor: pointer;
  display: block;
  text-align: center;
  margin-left: 185px;
  margin-right: 185px;
  margin-bottom: 0px;
  position: relative;
  bottom: 2px;
}

/* line 110, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
label[for=resume_photos_attributes_0_photo]:hover {
  background-color: #e74c3c;
  color: white;
  border: none;
  font-size: 1.25em;
}

/* line 118, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.campo-experiencia {
  display: none;
}

/* line 121, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.campo-sitio {
  display: none;
}

/* line 124, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.campo-telefono {
  display: none;
}

/* line 127, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.campo-nombre {
  display: none;
}

/* line 131, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.campo-correo {
  display: none;
}

/* line 134, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.campo-formacion {
  display: none;
}

/* line 137, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.eliminar-campo-formacion {
  float: right;
  cursor: pointer;
  position: relative;
  top: -12px;
  right: 8px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: white;
}

/* line 147, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.eliminar-campo-formacion:hover {
  background-color: #f44336;
  font-size: 15px;
  border-radius: 50%;
  color: white;
  padding: 5px;
  margin-right: -3px;
  margin-top: -3px;
}

/* line 156, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.eliminar-campo-experiencia {
  float: right;
  cursor: pointer;
  position: relative;
  top: -12px;
  right: 8px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: white;
}

/* line 167, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.eliminar-campo-experiencia:hover {
  background-color: #f44336;
  font-size: 15px;
  border-radius: 50%;
  color: white;
  padding: 5px;
  margin-right: -3px;
  margin-top: -3px;
}

/* line 177, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.campo-formacion {
  border: thin solid #95a5a6;
  padding: 5px 5px 0 5px;
  margin-bottom: 10px;
  margin-top: 18px;
  border-radius: 8px;
}

/* line 184, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.eliminar-campo-correo,
.eliminar-campo-nombre,
.eliminar-campo-telefono,
.eliminar-campo-sitio,
.eliminar-campo-foto {
  float: right;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

/* line 195, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.eliminar-campo-correo:hover,
.eliminar-campo-nombre:hover,
.eliminar-campo-telefono:hover,
.eliminar-campo-sitio:hover,
.eliminar-campo-foto:hover {
  background-color: #f44336;
  font-size: 15px;
  border-radius: 50%;
  color: white;
  padding: 5px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 209, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.campo-plano {
  border-radius: 0;
  margin-bottom: 15px;
}

/* line 215, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.eliminar-campo {
  float: right;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

/* line 223, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.eliminar-campo:hover {
  background-color: #f44336;
  font-size: 15px;
  border-radius: 50%;
  color: white;
  padding: 5px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* line 233, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.icon-user {
  padding-top: 10px;
}

/* line 237, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.campo-experiencia {
  border: thin solid #95a5a6;
  padding: 5px 5px 0 5px;
  margin-bottom: 10px;
  margin-top: 18px;
  border-radius: 8px;
}

/* line 245, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.stop-phone, .stop-email, .stop-web, .stop-name, .stop-photo, .stop-experiencia, .stop-formacion {
  display: none;
}

/* line 250, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.curriculum {
  background-color: white;
}

/* line 264, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.curriculum {
  margin-top: 25px;
  margin-bottom: 50px;
}

/* line 269, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
#sup-izq {
  width: 100%;
  height: 75px;
  background-color: #730E15;
}

/* line 274, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
#separador-sup {
  width: 100%;
  background-color: #730E15;
  margin-top: 2px;
  padding-top: 2px;
}

/* line 281, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.nombre {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #333333;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 75px;
  text-transform: uppercase;
}

/* line 290, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
#container-photo {
  max-height: 300px;
  overflow-y: hidden;
}

/* line 294, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.photo-resume {
  width: 100%;
}

/* line 297, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.inf-izq {
  background-color: #730E15;
}

/* line 301, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.inf-izq > span {
  color: white;
  padding: 15px;
  margin: 0;
}

/* line 308, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.inf-izq > p, .inf-izq > a {
  display: inline;
  color: #DADADA;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}

/* line 315, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
#separador-inf {
  width: 100%;
  background-color: #730E15;
  padding-top: 2px;
  position: relative;
  bottom: 5px;
}

/* line 322, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.encabezado-cv {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
}

/* line 326, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.texto-fecha {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}

/* line 330, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.texto-trabajo {
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
}

/* line 335, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.texto-empresa {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
}

/* line 339, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.texto-descripcion {
  text-align: justify;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}

/* line 344, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.space {
  padding-right: 10px;
}

/* line 349, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
#sup-der {
  float: right;
  margin-right: 15px;
}

/* line 354, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.link-edit {
  position: fixed;
  z-index: 1;
  background-color: rgba(123, 23, 23, 0.3);
  height: 55px;
  padding: 18px;
  color: #730E15;
}

/* line 362, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
#link-edit {
  text-decoration: none;
  color: #730E15;
}

/* line 366, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
#link-edit:hover {
  color: white;
}

/* line 370, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
#img-prev {
  display: none;
  width: 80px;
  height: 80px;
  background-size: cover;
  padding: 0;
  margin-top: 7px;
  margin-bottom: 5px;
  border: 0;
}

/* line 383, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.img-original {
  width: 80px;
  height: 80px;
  padding: 0;
  margin-top: 7px;
  margin-bottom: 5px;
  border: 0;
  position: relative;
  right: -10px;
}

/* line 428, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.tt-input {
  border-radius: 0 !important;
  width: 100% !important;
  padding: 1px !important;
}

/* line 434, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 34px;
  padding: 1px;
  font-size: 18px;
  line-height: 30px;
  outline: none;
}

/* line 450, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.typeahead {
  background-color: #fff;
}

/* line 454, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.typeahead:focus {
  border: 2px solid #0097cf;
}

/* line 460, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 466, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.tt-hint {
  color: #999;
}

/* line 470, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.tt-menu {
  width: 100%;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* line 485, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

/* line 491, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

/* line 497, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

/* line 503, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.tt-suggestion p {
  margin: 0;
}

/* line 507, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.gist {
  font-size: 14px;
}

/* line 526, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.format-text {
  text-align: justify;
  text-justify: inter-word;
  padding: 12px;
}

/* line 532, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.img-post {
  width: 100%;
  border-radius: 10px;
}

/* line 536, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.welcome {
  margin-top: 25px;
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
}

/* line 548, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.formulario {
  width: 100%;
  border-radius: 10px;
  margin-top: 55px;
  padding: 15px;
  background-color: rgba(255, 188, 100, 0.8);
}

/* line 555, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 562, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.formulario2 {
  margin-bottom: 140px;
}

/* line 565, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.home {
  background: url(/images/ciudad.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  margin-top: -50px;
}

/****************************************************************************************************************/
/* line 591, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
body {
  padding-top: 50px;
}

/* line 597, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
#container-avatar {
  width: 12%;
  height: auto;
  /*position: relative;*/
  /*left: 50px;*/
  /*top: -150px;*/
  float: left;
  margin-top: -13%;
  margin-left: 8%;
  margin-bottom: 5px;
}

/* line 609, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
#container-avatar img {
  width: 100%;
  height: auto;
}

/* line 613, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
#container-cover {
  max-height: 350px;
  width: 100%;
  overflow: hidden;
  padding: 0;
}

/* line 621, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
#img-cover {
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* line 628, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
#img-avatar {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: relative;
}

/* line 636, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.img-avatar {
  width: 30% px;
  height: auto;
  /*margin: 8px;*/
  border-radius: 8px;
  background-size: contain;
}

/* line 644, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
#sugerencia-amistad {
  text-align: center;
}

/* line 647, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* line 655, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

/* line 664, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* line 677, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.hovereffect img {
  width: 100%;
  display: block;
  position: relative;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

/* line 685, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding: 10px;
}

/* line 700, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.hovereffect span {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 50px 0 0;
  padding: 7px 14px;
}

/* line 715, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.hovereffect span:hover {
  box-shadow: 0 0 5px #fff;
}

/* line 719, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 725, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 730, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.hovereffect:hover h2, .hovereffect:hover span {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

/* line 738, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.hovereffect:hover span {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

/* line 742, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.container-body > #img-avatar {
  max-width: 50px;
  background-color: #321156;
}

/* line 746, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.barra-enviar {
  background-color: white;
  margin-right: 0;
  margin-left: 0;
  margin-top: 1px;
}

/* line 754, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.btn {
  border-radius: 0;
}

/* line 757, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.col-md-3 button {
  float: right;
}

/* line 760, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.col-md-9 span {
  margin-left: -15px;
}

/* line 765, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.cont-btn-publicar {
  margin-right: 0;
  padding-right: 0;
}

/* line 769, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.container-body {
  margin-top: 15px;
  background-color: aliceblue;
  border-radius: 8px;
  border: 1px solid blanchedalmond;
}

/*La fila de estadisticas*/
/* line 777, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.container-stat {
  /*position: relative; top: -50px;*/
  margin-top: 15px;
}

/*Los enlaces de estadisticas*/
/* line 782, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.container-stat .row {
  /*background-color: #B00100;*/
}

/* line 785, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.container-stat > .row > div {
  /*height: 55px;*/
}

/* line 789, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.enlaces-perfil {
  display: block;
  text-decoration: none;
  background-color: #428bca;
  height: 55px;
  padding: 18px;
  color: white;
  width: 110%;
  margin-bottom: 3px;
  border-radius: 3px;
}

/* line 803, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.pull-right-g {
  float: right !important;
}

/* line 806, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.estado {
  color: #F2F2F2;
}

/* line 809, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.enlaces-perfil:hover {
  text-decoration: none;
  background-color: #3a539b;
  color: white;
  font-size: 1em;
  padding: 13px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* line 821, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.contenedor-enlaces {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}

/* line 826, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.right-group-menu {
  position: fixed;
  align: left;
}

/* line 830, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.thumbnail {
  padding: 0 0 2px 0;
  border: none;
  border-radius: 0;
  width: 90px;
  height: 90px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* line 838, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.thumbnail p {
  margin-top: 15px;
  color: #555;
}

/* line 842, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.img-sugerencia {
  width: 70px;
  height: 70px;
}

/* line 846, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.contenedor-sugerencia {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 8px 3px 8px 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 853, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.my-btn {
  width: 50px;
}

/* line 862, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.my-btn:hover, .my-btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}

/* line 870, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.col-derecha {
  background-color: white;
  border-radius: 8px;
}

/* line 874, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.texto-sugerencias {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}

/* line 878, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.contenedor-sugerencia p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}

/* line 884, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.img-navbar {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* line 892, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.prueba {
  padding: 5px !important;
  margin: 0 !important;
}

/* line 899, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.nav-pills > li > a {
  border-radius: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  border: thin solid lightgray;
}

/* line 907, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.msg-title {
  background-color: #337ab7;
  color: white;
  padding: 15px 15px;
  margin: 0 0 2px 0;
}

/* line 915, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.msg-container {
  padding: 15px;
  border-radius: 8px;
}

/* line 919, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.item-msg:hover {
  border-left: 5px solid #337ab7;
}

/* line 922, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.list-group-item {
  border-radius: 0 !important;
}

/* line 925, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.email-item:hover {
  border-left: 3px solid #337ab7;
  background-color: rgba(51, 122, 183, 0.1);
}

/* line 933, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.item-msg-mailbox-active {
  border-left: 5px solid #337ab7;
}

/* line 937, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.paginacion {
  text-align: center;
  margin-top: -20px;
  background-color: white;
}

/* line 943, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.pagination {
  padding-top: 3px;
  margin: 0 auto;
}

/* line 950, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.fix-vertical-align {
  padding-top: 8px;
}

/* line 954, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.icon-trash {
  margin: 4px 0 0 0;
  color: #dd4b39;
}

/* line 959, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.icon-trash:hover {
  margin: 4px 0 0 0;
  border-bottom: 3px solid brown;
}

/* line 965, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.is_send {
  color: #00c0ef;
  font-size: 1.5em;
  position: relative;
  top: 5px;
  padding-right: 10px;
}

/* line 974, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.info-box {
  display: block;
  min-height: 70px;
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 5px;
}

/* line 983, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 70px;
  width: 70px;
  text-align: center;
  font-size: 45px;
  line-height: 70px;
  background: rgba(0, 0, 0, 0.2);
}

/* line 997, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.bg-green {
  color: #fff !important;
  background-color: #008d4c !important;
}

/* line 1001, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.bg-yellow {
  color: #fff !important;
  background-color: #f39c12 !important;
}

/* line 1005, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.bg-red {
  color: #fff !important;
  background-color: #dd4b39 !important;
}

/* line 1009, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.bg-aqua {
  color: #fff !important;
  background-color: #00c0ef !important;
}

/* line 1014, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.info-box-content {
  padding: 5px 10px;
  margin-left: 70px;
}

/* line 1018, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.info-box-text {
  text-transform: uppercase;
}

/* line 1021, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

/* line 1027, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.icon-restore {
  font-size: 0.8em;
  padding: 0;
  margin: 0;
  float: right;
}

/* line 1035, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.empty-trash {
  float: right;
  margin-right: -15px;
  margin-top: -15px;
}

/* line 1041, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.empty-trash > a {
  padding-bottom: 21px;
  padding-top: 15px;
}

/* line 1046, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.form-msg {
  margin: 1px 0 !important;
  border-radius: 0;
}

/* line 1052, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.is_read {
  color: darkgreen;
  font-size: 1.5em;
  position: relative;
  top: 5px;
  padding-right: 10px;
}

/* line 1059, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.is_unread {
  color: orange;
  font-size: 1.5em;
  position: relative;
  top: 5px;
  padding-right: 10px;
}

/* line 1066, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.is_trashed {
  color: #dd4b39;
  font-size: 1.5em;
  float: left;
  top: 10px;
  padding-right: 15px;
}

/* line 1074, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.img-participant-first {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  display: inline;
}

/* line 1082, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.img-participant-second {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  display: inline;
}

/* line 1090, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.img-participant-third {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  display: inline;
}

/* line 1098, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.participant-names {
  display: inline;
  float: right;
  list-style-type: none;
}

/* line 1104, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.img-participant-others {
  font-size: 0.8em;
  border-radius: 50%;
  padding: 8px;
  margin: 0;
  display: inline;
  background-color: #333333;
  color: white;
}

/* line 1117, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* line 1123, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.contenedor-responder {
  background-color: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
}

/* line 1129, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.messages > span {
  font-size: 0.8em;
}

/* line 1134, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.contenedor-responder {
  margin-top: 0;
  border-radius: 0;
}

/* line 1145, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.dropdown-menu li {
  width: 350px;
  font-size: 0.8em;
}

/* line 1150, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.dropdown-menu li a {
  width: 350px;
  font-size: 0.9em;
  display: block;
  text-decoration: none;
  margin-left: 15px;
  margin-bottom: 3px;
}

/* line 1159, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.dropdown-menu li a:hover {
  width: 335px;
  font-size: 0.9em;
  display: block;
  text-decoration: none;
  margin-left: 15px;
  margin-bottom: 3px;
  border-left: 3px solid #337ab7;
}

/* line 1168, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.ver-todos {
  text-align: center;
}

/* line 1171, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.ver-todos > a {
  margin-left: 0 !important;
}

/* line 1174, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.inbox-notify {
  background: rgba(223, 0, 0, 0.6);
  position: relative;
  top: -12px;
  left: 2px;
}

/* line 1180, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.dropdown-menu-inbox {
  max-height: 254px;
  overflow-y: auto;
}

/* line 1184, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.ver-todos > a:hover {
  color: #337ab7 !important;
  border-left: 0 !important;
}

/* line 1190, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
#messages {
  display: none;
}

/* line 1193, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.navbar img {
  float: left;
  width: 10px;
  height: 10px;
  background: #555;
}

/* line 1200, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.add-on .input-group-btn > .btn {
  border-left-width: 0;
  left: -2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 1206, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.form-control {
  width: 20%;
}

/* line 1207, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.navbar-nav > li > a {
  border-right: 1px solid #ddd;
  padding-bottom: 15px;
  padding-top: 15px;
}

/* The Modal (background) */
/* line 1216, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: -160px;
  width: 100%;
  /* Full width */
  height: 120;
  /* Full hei ght */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
/* line 1230, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
/* line 1239, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* line 1246, D:/Universidad/pasantia/TeresaUCB/app/assets/stylesheets/application.scss */
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
