<div class="collapse navbar-collapse navbar-fixed-top navbar-inverse">

  <img src="logocato.png" alt="logo" style="width:50px;height:50px;">
  <ul class="nav navbar-nav navbar-right">
    <li class="scroll active" id="home-li"><a href="#home" >Inicio</a></li>
    <li class="scroll" id="services-li"><a href="#services" >Servicios</a></li>
    <li class="scroll" id="about-us-li"><a href="#about-us">Sobre Nosotros</a></li>
    <!-- <li class="scroll"><a href="" >Empresas Asociadas</a></li> -->
    <!-- <li class="scroll"><a href="">Detras</a></li> -->
    <!-- <li class="scroll"><a href="">Por que Bolsa de Trabajo?</a></li> -->
    <li class="scroll">
        <a href="/users/profile">
          <%if user_signed_in?%>
            Perfil
            <%else%>
            Ingresa
            <%end%>
        </a>
      </li>
  </ul>
</div>
<section id="home">

    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#home-slider" data-slide-to="0" class="active"></li>
        <li data-target="#home-slider" data-slide-to="1"></li>
        <li data-target="#home-slider" data-slide-to="2"></li>
        <li data-target="#home-slider" data-slide-to="3"></li>
        <li data-target="#home-slider" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(entrevista2.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">Bienvenido a  <span>Bolsa de Trabajo</span></h1>
            <p class="animated fadeInRightBig carousel-letters">Una red Social donde podras desarrollar tu vida profesional</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="/users/sign_up">Registrate</a>
          </div>
        </div>
        <div class="item" style="background-image: url(grupo2.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig"> <span>bolsa de Trabajo</span></h1>
            <p class="animated fadeInRightBig carousel-letters">donde podras publicar y recibir ofertas laborales</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="/users/profile">Ingresar</a>
          </div>
        </div>
        <div class="item" style="background-image: url(fila3.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig">no hagas<span> filas</span></h1>
            <p class="animated fadeInRightBig carousel-letters">contactate con las empresas y profesionales de manera mas rapida</p>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="/users/profile">Ingresar</a>
          </div>
        </div>
        <div class="item" style="background-image: url(red.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig"><span>contactate</span></h1>
            <p class="animated fadeInRightBig carousel-letters">publica - informate - comparte</p>
            <%if !user_signed_in?%>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="/users/sign_up">Empezar</a>
            <%end%>
          </div>
        </div>
        <div class="item" style="background-image: url(red2.jpg)">
          <div class="caption">
            <h1 class="animated fadeInLeftBig"> <span>Unete</span></h1>
            <p class="animated fadeInRightBig carousel-letters">A la mas grande red social de bolivia</p>
            <%if !user_signed_in?%>
            <a data-scroll class="btn btn-start animated fadeInUpBig" href="/users/sign_up">Unirme</a>
            <%end%>
          </div>
        </div>
      </div>
      <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

      <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

    </div><!--/#home-slider-->
    <div class="main-nav">
      <!-- <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">
            <h1></h1>
          </a>
        </div>
      </div> -->
  </div><!--/#main-nav-->
</section>

    <section id="services">
      <div class="container">
        <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="row">
            <div class="text-center col-sm-8 col-sm-offset-2">
              <h2>Servicio</h2>
              <p>Esta plataforma fue desarrollada por la Universidad Católica Boliviana "San Pablo" a fin de facilitar el contacto entre sus titulados y las empresas del medio. Tratando de satisfacer las necesidades de ambos. Las empresas requieren profesionales y las personas necesitan una plataforma que les permita una mayor vinculación con el medio, mediante un registro historico de sus actividades profesionales y laborales online. </p>
            </div>
          </div>
        </div>
        <div class="text-center our-services">
          <div class="row">
            <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="service-icon">
                <i class="fa fa-flask"></i>
              </div>
              <div class="service-info">
                <h3>Comunicación Instantánea</h3>
                <p>Requerimientos de trabajo entregados al instante</p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
              <div class="service-icon">
                <i class="fa fa-umbrella"></i>
              </div>
              <div class="service-info">
                <h3>Mayores Alcances</h3>
                <p>Publica tus experiencias, y ábrete al publico </p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
              <div class="service-icon">
                <i class="fa fa-cloud"></i>
              </div>
              <div class="service-info">
                <h3>Ofertas Laborales</h3>
                <p>Oferta y demanda los servicios profesionales que necesitas</p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
              <div class="service-icon">
                <i class="fa fa-coffee"></i>
              </div>
              <div class="service-info">
                <h3>Disponibilidad de Trabajo</h3>
                <p>Contáctate con las empresas que requieren personal con tu capacidad</p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
              <div class="service-icon">
                <i class="fa fa-bitbucket"></i>
              </div>
              <div class="service-info">
                <h3>Curriculum On line</h3>
                <p>Esta página te permitirá registrar toda la información, personal y laboral para tenerla siempre al alcance de tu mano, en cualquier parte del mundo.</p>
              </div>
            </div>
            <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
              <div class="service-icon">
                <i class="fa fa-gift"></i>
              </div>
              <div class="service-info">
                <h3>Arma tu red</h3>
                <p>Busca personas afines a ti, y ábrete a infinitas posibilidades laborales</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!--/#services-->
    <section id="about-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
              <h2>Sobre nosotros</h2>
              <p>Somos un equipo de trabajo de la Universidad Catolica Boliviana "San Pablo" interesados en extender el servicio y la vinculación con los titulados de nuestras carreras, esperamos lograr este objetívo, mediante la presente plataforma Bolsa de Trabajo.</p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p class="lead service-text">Estudiantes universitarios</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="95">95%</div>
                </div>
              </div>
              <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
                <p class="lead service-text">Estudiantes egresados</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="75">75%</div>
                </div>
              </div>
              <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                <p class="lead service-text">Empresas asociadas</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="60">60%</div>
                </div>
              </div>
              <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                <p class="lead carousel-letters">ofertas de trabajo</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"  aria-valuetransitiongoal="85">85%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!--/#about-us-->
