<a href="/reportes"><button class="btn btn-default">Volver atras</button></a>
<h1>Reporte</h1>
  <div class="panel panel-primary">
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">Nuevo reporte
              <div id="by_date">
                <%= column_chart @new_data%>
              </div>
          </li>
        </ul>
      </div>

</div>
