
<%if (@posts)%>
	<% @posts.each do |post| %>
      <div class="container-body ">
      	<%= image_tag @user.avatar.url, id: 'img-avatar' %>
      	<h5><%= post.user.name %></h5>
      	<%= image_tag post.pictures.first.image.url, class: 'img-post' %>
      	<p class="format-text"><%= post.body %></p>
      	<button type="button" class="btn btn-default" aria-label="Left Align">
      	  <span class=" glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      	</button>
      	<button type="button" class="btn btn-default" aria-label="Left Align">
       	 <span class=" glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
      	</button>
      	<button type="button" class="btn btn-default" aria-label="Left Align">
       	 <span class=" glyphicon glyphicon-share-alt" aria-hidden="true"></span>
      	</button>
      </div>
	<% end %>
<%end%>