<style>
form {
  border-radius: 5px;
  max-width:700px;
  width:100%;
  margin: 5% auto;
  background-color: #FFFFFF;
  overflow: hidden;
}

h1 {
  text-align:center;
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}
input {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: 75%;
  height: 40px;
  float: left;
  padding: 0px 15px;
}
</style>
<h1>Formulario de Oferta de Trabajo</h1>
   <div class="info"><a href="" target="_blank"><p> Busca <i class="fa fa-search"></i> lo que necesites </p></a></div>
   	<%= form_for :post, url: new_post_path do |f| %>

	  <h1>Llena los siguientes campos, como requisito para el puesto laboral :</h1>
    <div class="contentform">
  	  <div id="sendmessage"> La oferta fue publicada exitosamente!. Gracias. </div>
    	<div class="leftcontact">
			 <div class="form-group">
			  <p>Titulo academico<span>*</span></p>
			  <span class="icon-case"><i class="fa fa-male"></i></span>
				<input type="text" name="nom" id="nom" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Nom' doit être renseigné."/>
        <div class="validation"></div>
       </div>
      <div class="form-group">
        <p>Post grado <span>*</span></p>
        <span class="icon-case"><i class="fa fa-user"></i></span>
				<input type="text" name="prenom" id="prenom" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné."/>
        <div class="validation"></div>
			</div>
			<div class="form-group">
			  <p>E-mail de contacto<span>*</span></p>
			  <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
        <input type="email" name="email" id="email" data-rule="email" data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire."/>
        <div class="validation"></div>
			</div>
			<div class="form-group">
			  <p>Horas de Trabajo <span>*</span></p>
			  <span class="icon-case"><i class="fa fa-clock-o"></i></span>
				<input type="text" name="society" id="society" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Société' doit être renseigné."/>
        <div class="validation"></div>
			</div>
			<div class="form-group">
			  <p>Direccion del trabajo <span>*</span></p>
			  <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
				<input type="text" name="adresse" id="adresse" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Adresse' doit être renseigné."/>
        <div class="validation"></div>
			</div>
	   </div>
	   <div class="rightcontact">
			<div class="form-group">
			  <p>Ciudad <span>*</span></p>
			  <span class="icon-case"><i class="fa fa-building-o"></i></span>
			  <input type="text" name="ville" id="ville" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Ville' doit être renseigné."/>
        <div class="validation"></div>
			</div>
			<div class="form-group">
			  <p>Numero de Telefono <span>*</span></p>
			  <span class="icon-case"><i class="fa fa-phone"></i></span>
				<input type="text" name="phone" id="phone" data-rule="maxlen:10" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Téléphone' doit être renseigné. Minimum 10 chiffres"/>
        <div class="validation"></div>
			</div>
			<div class="form-group">
			  <p>Cargo <span>*</span></p>
			  <span class="icon-case"><i class="fa fa-info"></i></span>
        <input type="text" name="fonction" id="fonction" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Fonction' doit être renseigné."/>
        <div class="validation"></div>
			</div>
			<div class="form-group">
			  <p>Experiencia en <span>*</span></p>
			  <span class="icon-case"><i class="fa fa-comment-o"></i></span>
        <input type="text" name="sujet" id="sujet" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Sujet' doit être renseigné."/>
        <div class="validation"></div>
			</div>
			<div class="form-group">
			  <p>Descripcion <span>*</span></p>
			  <span class="icon-case"><i class="fa fa-comments-o"></i></span>
        <textarea name="message" rows="14" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Message' doit être renseigné."></textarea>
        <div class="validation"></div>
			</div>
	   </div>
	  </div>
    <button type="submit" class="bouton-contact">Send</button>

<%end%>
