// Place all the styles related to the resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.container-cv {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container-cv {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-cv {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-cv {
    width: 1170px;
  }
}

.line-separator-blue{
  height:3px;
  width:93%;
  background:#717171;
  background-color: #000099;
  border-bottom:1px solid #000099;
}
.line-separator-red{
  height:3px;
  width:93%;
  background:#7d1c41;
  background-color: #7d1c41;
  border-bottom:1px solid #7d1c41;
}
.section-title-blue{
  display:inline-block;
  background-color: #000099;
  padding: 1px;
  color: #ffffff;
  width:auto;
  padding-rigth: 20px;
}
.section-title-red{
  display:inline-block;
  background-color: #7d1c41;
  padding: 1px;
  color: #ffffff;
  width:auto;
  padding-rigth: 20px;
}
.section-container-blue b{
  color: #000099;
}
.section-container-blue p{
  color: #000000;
}
.section-container-blue{
  color: 	#00000;
}
.section-container-blue h3{
  color: #1a1aff;
}
.section-container-red b{
  color: #7d1c41;
}
.section-container-red p{
  color: #000000;
}
.section-container-red{
  color: 	#000000;
}
.section-container-red h3{
  color: #bf0d19;
}
.cv-title-name{
  left:5%;
  position:  auto;
}
.vertical-title{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.vertical-section-blue{
  right: auto;
  border: 5px solid #000099;
  padding-bottom: 21px;

}
.vertical-section-red{
  right: auto;
  border: 5px solid #7d1c41;
  padding-bottom: 21px;

}
