// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/****** Searchable container */

.title{
 margin-left:20px
}

.fa-user{
 font-size:80px
}

.searchable-container{
    margin-top:40px;
}

.glyphicon-lg{
    font-size:4em
}
.info-block{
    border-right:5px solid #E6E6E6;margin-bottom:25px
}
.info-block .square-box {
    width:120px;
    min-height:120px;
    margin-right:22px;
    text-align:center!important;
    background-color:#676767;
    padding:20px 0
}
.info-block:hover .info-block.block-info {
    border-color:#20819e
}

.info-block.block-info .square-box {
    background-color:#5bc0de;
    color:#FFF
}






/*   */

body{margin-top:20px;
background:#eee;
}

.btn-compose-email {
    padding: 10px 0px;
    margin-bottom: 20px;
}

.btn-danger {
    background-color: #E9573F;
    border-color: #E9573F;
    color: white;
}

.panel-teal .panel-heading {
    background-color: #37BC9B;
    border: 1px solid #36b898;
    color: white;
}

.panel .panel-heading {
    padding: 5px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid #DDD;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.panel .panel-heading .panel-title {
    padding: 10px;
    font-size: 17px;
}

form .form-group {
    position: relative;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.inner-all {
    padding: 10px;
}

/* ========================================================================
 * MAIL
 * ======================================================================== */
.nav-email > li:first-child + li:active {
  margin-top: 0px;
}
.nav-email > li + li {
  margin-top: 1px;
}
.nav-email li {
  background-color: white;
}
.nav-email li.active {
  background-color: transparent;
}
.nav-email li.active .label {
  background-color: white;
  color: black;
}
.nav-email li a {
  color: black;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.nav-email li a:hover {
  background-color: #EEEEEE;
}
.nav-email li a i {
  margin-right: 5px;
}
.nav-email li a .label {
  margin-top: -1px;
}

.table-email tr:first-child td {
  border-top: none;
}
.table-email tr td {
  vertical-align: top !important;
}
.table-email tr td:first-child, .table-email tr td:nth-child(2) {
  text-align: center;
  width: 35px;
}
.table-email tr.unread, .table-email tr.selected {
  background-color: #EEEEEE;
}
.table-email .media {
  margin: 0px;
  padding: 0px;
  position: relative;
}
.table-email .media h4 {
  margin: 0px;
  font-size: 14px;
  line-height: normal;
}
.table-email .media-object {
  width: 35px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.table-email .media-meta, .table-email .media-attach {
  font-size: 11px;
  color: #999;
  position: absolute;
  right: 10px;
}
.table-email .media-meta {
  top: 0px;
}
.table-email .media-attach {
  bottom: 0px;
}
.table-email .media-attach i {
  margin-right: 10px;
}
.table-email .media-attach i:last-child {
  margin-right: 0px;
}
.table-email .email-summary {
  margin: 0px 110px 0px 0px;
}
.table-email .email-summary strong {
  color: #333;
}
.table-email .email-summary span {
  line-height: 1;
}
.table-email .email-summary span.label {
  padding: 1px 5px 2px;
}
.table-email .ckbox {
  line-height: 0px;
  margin-left: 8px;
}
.table-email .star {
  margin-left: 6px;
}
.table-email .star.star-checked i {
  color: goldenrod;
}

.nav-email-subtitle {
  font-size: 15px;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 15px;
  margin-top: 30px;
}

.compose-mail {
  position: relative;
  padding: 15px;
}
.compose-mail textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #DDD;
}

.view-mail {
  padding: 10px;
  font-weight: 300;
}

.attachment-mail {
  padding: 10px;
  width: 100%;
  display: inline-block;
  margin: 20px 0px;
  border-top: 1px solid #EFF2F7;
}
.attachment-mail p {
  margin-bottom: 0px;
}
.attachment-mail a {
  color: #32323A;
}
.attachment-mail ul {
  padding: 0px;
}
.attachment-mail ul li {
  float: left;
  width: 200px;
  margin-right: 15px;
  margin-top: 15px;
  list-style: none;
}
.attachment-mail ul li a.atch-thumb img {
  width: 200px;
  margin-bottom: 10px;
}
.attachment-mail ul li a.name span {
  float: right;
  color: #767676;
}

@media (max-width: 640px) {
  .compose-mail-wrapper .compose-mail {
    padding: 0px;
  }
}
@media (max-width: 360px) {
  .mail-wrapper .panel-sub-heading {
    text-align: center;
  }
  .mail-wrapper .panel-sub-heading .pull-left, .mail-wrapper .panel-sub-heading .pull-right {
    float: none !important;
    display: block;
  }
  .mail-wrapper .panel-sub-heading .pull-right {
    margin-top: 10px;
  }
  .mail-wrapper .panel-sub-heading img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .mail-wrapper .panel-footer {
    text-align: center;
  }
  .mail-wrapper .panel-footer .pull-right {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }
  .mail-wrapper .attachment-mail ul {
    padding: 0px;
  }
  .mail-wrapper .attachment-mail ul li {
    width: 100%;
  }
  .mail-wrapper .attachment-mail ul li a.atch-thumb img {
    width: 100% !important;
  }
  .mail-wrapper .attachment-mail ul li .links {
    margin-bottom: 20px;
  }

  .compose-mail-wrapper .search-mail input {
    width: 130px;
  }
  .compose-mail-wrapper .panel-sub-heading {
    padding: 10px 7px;
  }
}










/*font Awesome http://fontawesome.io*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/*Comment List styles*/
.comment-list .row {
  margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .comment-list .arrow:after, .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #FFFFFF;
    border-width: 15px;
  }
  /*****Right Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: #FFFFFF;
    border-width: 15px;
  }
}
.comment-list .comment-post {
  margin-top: 6px;
}







/**** resumee ****/

    /* uses font awesome for social icons */
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.page-header{
  text-align: center;
}

/*social buttons*/
.btn-social{
  color: white;
  opacity:0.9;
}
.btn-social:hover {
  color: white;
    opacity:1;
}
.btn-facebook {
background-color: #3b5998;
opacity:0.9;
}
.btn-twitter {
background-color: #00aced;
opacity:0.9;
}
.btn-linkedin {
background-color:#0e76a8;
opacity:0.9;
}
.btn-github{
  background-color:#000000;
  opacity:0.9;
}
.btn-google {
  background-color: #c32f10;
  opacity: 0.9;
}
.btn-stackoverflow{
  background-color: #D38B28;
  opacity: 0.9;
}

/* resume stuff */

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}
.bs-callout:last-child {
    margin-bottom: 0px;
}
.bs-callout h4 {
    margin-bottom: 10px;
    margin-top: 0;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4{
    color: #d9534f;
}

.resume .list-group-item:first-child, .resume .list-group-item:last-child{
  border-radius:0;
}

/*makes an anchor inactive(not clickable)*/
.inactive-link {
   pointer-events: none;
   cursor: default;
}

.resume-heading .social-btns{
  margin-top:15px;
}
.resume-heading .social-btns i.fa{
  margin-left:-5px;
}



@media (max-width: 992px) {
  .resume-heading .social-btn-holder{
    padding:5px;
  }
}


/* skill meter in resume. copy pasted from http://bootsnipp.com/snippets/featured/progress-bar-meter */

.progress-bar {
    text-align: left;
    white-space: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.progress-bar > .progress-type {
  padding-left: 10px;
}

.progress-meter {
  min-height: 15px;
  border-bottom: 2px solid rgb(160, 160, 160);
  margin-bottom: 15px;
}

.progress-meter > .meter {
  position: relative;
  float: left;
  min-height: 15px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(160, 160, 160);
}

.progress-meter > .meter-left {
  border-left-width: 2px;
}

.progress-meter > .meter-right {
  float: right;
  border-right-width: 2px;
}

.progress-meter > .meter-right:last-child {
  border-left-width: 2px;
}

.progress-meter > .meter > .meter-text {
  position: absolute;
  display: inline-block;
  bottom: -20px;
  width: 100%;
  font-weight: 700;
  font-size: 0.85em;
  color: rgb(160, 160, 160);
  text-align: left;
}

.progress-meter > .meter.meter-right > .meter-text {
  text-align: right;
}




/**** resume ****/

.sign-in-email{
  background-color : #FFFFFF;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 30%;
    top: -160px;
    width: 100%; /* Full width */
    height: 120; /* Full hei ght */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
























/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 //**********ESTILOS PARA EL FORMULARIO DE CURRICULUM********//
 //**************ESTILOS PARA LOS BOTONES DEL MENU***********//
 .item-menu{
   background-color: #4285f4;
   height: 55px;
   padding: 18px;
   //margin-top: 15px;
   //margin-right: 32px;
   color: white;
   width: 100%;
 }
 .boton-enviar{
   background-color: #4285f4;
   height: 55px;
   padding: 18px;
   //margin-top: 15px;
   //margin-right: 32px;
   color: white;
   width: 100%;
   border: 0;
 }
 .boton-enviar:hover{
   background-color: rgba(231, 76, 60,1.0);
   color: white;
   font-size: 1.5em;
   padding: 13px;
   cursor: pointer;
 }
 hr{
   padding: 0;
   margin: 0;
 }
 .item-menu:hover, .activo{
   background-color: rgb(58, 83, 155);
   color: white;
   font-size: 1.5em;
   padding: 13px;
   cursor: pointer;
 }
 .contenedor-menu{
   background-color: white;
   padding-left: 16px;
   padding-right: 16px;
   padding-top: 15px;
   margin-top: 15px;
   margin-bottom: 15px;
   padding-bottom: 15px;

 }
 body{
   background-color: rgb(216, 223, 234);
 }
 //**********************************************************//
 //***INTERACCION DEL MENU PRINCIPAL Y LOS CAMPOS DEL FORM***//

 #otro{
   display: block;
 }

 .informacion-basica, .experiencia-profesional, .formacion-academica{
   display: none;
 }

 //---------INICIO-FOTO---------//

 .campo-foto{
   display: none;
 }

 #imagePreview{
   width: 80px;
   height:80px;

   background-size: cover;
   padding: 0;
   margin-top: 7px;
   margin-bottom: 5px;
   //background-image: url('/assets/missing.png');
   background-image: url(image-path('missing.png'));
   border: 0;
 }

 label[for=resume_photos_attributes_0_photo]{
   padding-top: 4px;
   cursor: pointer;
   display: block;
   text-align: center;
   margin-left: 185px;
   margin-right: 185px;
   margin-bottom: 0px;
   position: relative;
   bottom: 2px;
 }
 label[for=resume_photos_attributes_0_photo]:hover{
   background-color: rgba(231, 76, 60,1.0);
   color: white;
   border: none;
   font-size: 1.25em;

 }
 //----------FIN-FOTO-----------//
 .campo-experiencia{
   display: none;
 }
 .campo-sitio{
   display: none;
 }
 .campo-telefono{
   display: none;
 }
 .campo-nombre{
   display: none;
 }

 .campo-correo{
   display: none;
 }
 .campo-formacion{
   display: none;
 }
 .eliminar-campo-formacion{
   float: right;
   cursor: pointer;
   position: relative;
   top: -12px;
   right: 8px;
   padding-left: 3px;
   padding-right: 3px;
   background-color: white;
 }
 .eliminar-campo-formacion:hover{
   background-color: #f44336;
   font-size: 15px;
   border-radius: 50%;
   color: white;
   padding: 5px;
   margin-right: -3px;
   margin-top: -3px;
 }
 .eliminar-campo-experiencia{
   float: right;
   cursor: pointer;
   position: relative;
   top: -12px;
   right: 8px;
   padding-left: 3px;
   padding-right: 3px;
   background-color: white;

 }
 .eliminar-campo-experiencia:hover{
   background-color: #f44336;
   font-size: 15px;
   border-radius: 50%;
   color: white;
   padding: 5px;
   margin-right: -3px;
   margin-top: -3px;
 }
 //Lo mismo q .campo-experiencia
 .campo-formacion{
   border: thin solid rgb(149, 165, 166);
   padding: 5px 5px 0 5px;
   margin-bottom: 10px;
   margin-top: 18px;
   border-radius: 8px;
 }
 .eliminar-campo-correo,
 .eliminar-campo-nombre,
 .eliminar-campo-telefono,
 .eliminar-campo-sitio,
 .eliminar-campo-foto{
   float: right;
   margin-top: 10px;
   margin-right: 5px;
   margin-bottom: 5px;
   cursor: pointer;
 }
 .eliminar-campo-correo:hover,
 .eliminar-campo-nombre:hover,
 .eliminar-campo-telefono:hover,
 .eliminar-campo-sitio:hover,
 .eliminar-campo-foto:hover{
   background-color: #f44336;
   font-size: 15px;
   border-radius: 50%;
   color: white;
   padding: 5px;
   margin-right: 0;
   margin-top: 0;
   margin-bottom: 0;
 }
 .campo-plano{
   border-radius: 0;
   //margin-top: 10px;
   margin-bottom: 15px;

 }
 .eliminar-campo{
   //border: 1px solid red;
   float: right;
   margin-top: 10px;
   margin-right: 5px;
   margin-bottom: 5px;
   cursor: pointer;
 }
 .eliminar-campo:hover{
   background-color: #f44336;
   font-size: 15px;
   border-radius: 50%;
   color: white;
   padding: 5px;
   margin-right: 0;
   margin-top: 0;
   margin-bottom: 0;
 }
 .icon-user{
   //border: 1px solid red;
   padding-top: 10px;
 }
 .campo-experiencia{
   border: thin solid rgb(149, 165, 166);
   padding: 5px 5px 0 5px;
   margin-bottom: 10px;
   margin-top: 18px;
   border-radius: 8px;
 }
 //estilos de mano derecha
 .stop-phone, .stop-email, .stop-web, .stop-name, .stop-photo, .stop-experiencia, .stop-formacion{
   display: none;
 }
 //**********************************************************//
 //*********ESTILOS PARA LA VISTA PREVIA DE CURRICULUM*******//
 .curriculum{
   background-color: white;
   //height: 100%;
 }
 //.row{
 //  border: 1px solid blue;
 //}
 //.col-md-1,.col-md-10, .col-md-4, .col-md-8{
 //  border: 1px solid red;
 //}
 //
 //.container{
 //  border: 1px solid orange;
 //}
 .curriculum{
   margin-top: 25px;
   margin-bottom: 50px;
 }

 #sup-izq{
   width: 100%;
   height: 75px;
   background-color: #730E15;
 }
 #separador-sup{

   width: 100%;
   background-color: #730E15;
   margin-top: 2px;
   padding-top: 2px;
 }
 .nombre{
   //border: 1px solid red;
   padding-top: 25px;
   padding-bottom: 25px;
   color: #333333;
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 75px;
   text-transform: uppercase;
 }
 #container-photo{
   max-height: 300px;
   overflow-y: hidden;
 }
 .photo-resume{
   width: 100%;
 }
 .inf-izq{
   background-color: #730E15;

 }
 .inf-izq > span {
   color: white;
   padding: 15px;
   margin: 0;

   //height: 2500px;
 }
 .inf-izq > p, .inf-izq > a{
   display: inline;
   color: #DADADA;
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 18px;

 }
 #separador-inf{
   width: 100%;
   background-color: #730E15;
   padding-top: 2px;
   position: relative;
   bottom: 5px;
 }
 .encabezado-cv{
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 36px;
 }
 .texto-fecha{
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 16px;
 }
 .texto-trabajo{
   text-transform: uppercase;
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 26px;
 }
 .texto-empresa{
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 26px;
 }
 .texto-descripcion{
   text-align: justify;
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 16px;
 }
 .space{
   //border: 1px solid red;
   padding-right: 10px;
 }

 #sup-der{
   float: right;
   margin-right: 15px;
 }

 .link-edit{
   position: fixed;
   z-index: 1;
   background-color: rgba(123,23,23,0.3);
   height: 55px;
   padding: 18px;
   color: #730E15;
 }
 #link-edit{
   text-decoration: none;
   color: #730E15;
 }
 #link-edit:hover{
   color: white;
 }
 //--------------ESTILOS PARA EDITAR--------------//
 #img-prev{
   display: none;
   width: 80px;
   height:80px;

   background-size: cover;
   padding: 0;
   margin-top: 7px;
   margin-bottom: 5px;
   //background-image: url('/assets/missing.png');
   //background-image: url(image-path('missing.png'));
   border: 0;
 }
 .img-original{
   width: 80px;
   height: 80px;
   padding: 0;
   margin-top: 7px;
   margin-bottom: 5px;
   border: 0;
   position: relative;
   right: -10px;
 }
 #imagePreview{
   //border: 1px solid blue;
 }































   // ESTILOS PARA EL BUSCADOR
 .tt-input{
   border-radius: 0!important;
   width: 100%!important;
   padding: 1px!important;
   //height: 40px!important;
 }
 .typeahead,
 .tt-query,
 .tt-hint {
   width: 100%;
   height: 34px;
   padding: 1px;
   //padding: 8px 12px;
   font-size: 18px;
   line-height: 30px;
   //border: 2px solid #ccc;
   //-webkit-border-radius: 8px;
   //-moz-border-radius: 8px;
   //border-radius: 8px;
   outline: none;
 }

 .typeahead {
   background-color: #fff;
 }

 .typeahead:focus {
   border: 2px solid #0097cf;
 }



 .tt-query {
   -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
 }

 .tt-hint {
   color: #999
 }

 .tt-menu {
   width: 100%;
   margin: 12px 0;
   padding: 8px 0;
   background-color: #fff;
   //border: 1px solid #ccc;
   border: 1px solid rgba(0, 0, 0, 0.2);
   //-webkit-border-radius: 8px;
   //-moz-border-radius: 8px;
   //border-radius: 8px;
   -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
   -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
   box-shadow: 0 5px 10px rgba(0,0,0,.2);
 }

 .tt-suggestion {
   padding: 3px 20px;
   font-size: 18px;
   line-height: 24px;
 }

 .tt-suggestion:hover {
   cursor: pointer;
   color: #fff;
   background-color: #0097cf;
 }

 .tt-suggestion.tt-cursor {
   color: #fff;
   background-color: #0097cf;

 }

 .tt-suggestion p {
   margin: 0;
 }

 .gist {
   font-size: 14px;
 }


 // FIN DE ESTILOS PARA EL BUSCADOR













 .format-text{
   text-align: justify;
   text-justify: inter-word;
   padding: 12px;
 }

 .img-post{
   width: 100%;
   border-radius: 10px;
 }
 .welcome{
   margin-top: 25px;
   color: #ffffff;
   font-family: 'Raleway',sans-serif;
   font-size: 32px;
   font-weight: 800;
   line-height: 52px;
   text-align: center;
   text-transform: uppercase;
 }


 .formulario{
   width: 100%;
   border-radius: 10px;
   margin-top: 55px;
   padding: 15px;
   background-color: rgba(255, 188, 100, 0.8);
 }
 html, body {
   width: 100%;
   height: 100%;
   //border: 3px solid red;
   //overflow: hidden;
 }

 .formulario2{
   margin-bottom: 140px;
 }
 .home{
   //border: 4px solid blue;
   background: image-url('ciudad.jpg');

   width: 100%;
   height: auto;
   background-size: cover;
   //padding-top: -50px;
   margin-top: -50px;


 }
 //p{
 //  margin-top: 25px;
 //  color: #ffffff;
 //  font-family: 'Raleway',sans-serif;
 //  font-size: 32px;
 //  font-weight: 800;
 //  line-height: 52px;
 //  text-align: center;
 //  text-transform: uppercase;
 //}


 /****************************************************************************************************************/

 body{
   padding-top: 50px;
 }



 #container-avatar{
   width: 12%;
   height: auto;
   /*position: relative;*/
   /*left: 50px;*/
   /*top: -150px;*/
   float: left;
   margin-top: -13%;
   margin-left: 8%;
   margin-bottom: 5px;

 }
 #container-avatar img{
     width: 100%;
     height: auto;
 }
 #container-cover{

   max-height: 350px;
   width: 100%;
   overflow: hidden;
   padding: 0;

 }
 #img-cover{
   width: 100%;
   height: 100%;
   //max-height: 330px;
   background-size: cover;

 }
 #img-avatar{
   width: 100%;
   height: 100%;
   border-radius: 8px;
   position: relative;


 }
 .img-avatar{
   width: 30%px;
   height: auto;
   /*margin: 8px;*/
   border-radius: 8px;
   background-size: contain;

 }
 #sugerencia-amistad{
   text-align: center;
 }
 .inputfile{
   width: 0.1px;
   height: 0.1px;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   z-index: -1;
 }
 .hovereffect {
   width:100%;
   height:100%;
   float:left;
   overflow:hidden;
   position:relative;
   text-align:center;
   cursor:default;
 }
 .hovereffect .overlay {
   width:100%;
   height:100%;
   position:absolute;
   overflow:hidden;
   top:0;
   left:0;
   opacity:0;
   background-color:rgba(0,0,0,0.5);
   -webkit-transition:all .4s ease-in-out;
   transition:all .4s ease-in-out
 }

 .hovereffect img {
   width: 100%;
   display:block;
   position:relative;
   -webkit-transition:all .4s linear;
   transition:all .4s linear;
 }

 .hovereffect h2 {
   text-transform:uppercase;
   color:#fff;
   text-align:center;
   position:relative;
   font-size:17px;
   background:rgba(0,0,0,0.6);
   -webkit-transform:translatey(-100px);
   -ms-transform:translatey(-100px);
   transform:translatey(-100px);
   -webkit-transition:all .2s ease-in-out;
   transition:all .2s ease-in-out;
   padding:10px;
 }

 .hovereffect span {
   text-decoration:none;
   display:inline-block;
   text-transform:uppercase;
   color:#fff;
   border:1px solid #fff;
   background-color:transparent;
   opacity:0;
   filter:alpha(opacity=0);
   -webkit-transition:all .2s ease-in-out;
   transition:all .2s ease-in-out;
   margin:50px 0 0;
   padding:7px 14px;
 }

 .hovereffect span:hover {
   box-shadow:0 0 5px #fff;
 }

 .hovereffect:hover img {
   -ms-transform:scale(1.2);
   -webkit-transform:scale(1.2);
   transform:scale(1.2);
 }

 .hovereffect:hover .overlay {
   opacity:1;
   filter:alpha(opacity=100);
 }

 .hovereffect:hover h2,.hovereffect:hover span {
   opacity:1;
   filter:alpha(opacity=100);
   -ms-transform:translatey(0);
   -webkit-transform:translatey(0);
   transform:translatey(0);
 }

 .hovereffect:hover span {
   -webkit-transition-delay:.2s;
   transition-delay:.2s;
 }
 .container-body > #img-avatar{
   max-width: 50px;
   background-color: #321156;
 }
 .barra-enviar{
   background-color: white;
   margin-right: 0;
   margin-left: 0;
   margin-top: 1px;

 }

 .btn{
   border-radius: 0;
 }
 .col-md-3 button{
   float: right;
 }
 .col-md-9 span{
   //border: 1px solid red;
   margin-left: -15px;
 }

 .cont-btn-publicar{
  margin-right: 0;
  padding-right: 0;
 }
 .container-body{
   //margin: 15px;
   margin-top: 15px;
   background-color: aliceblue;
   border-radius: 8px;
   border: 1px solid blanchedalmond;
 }
 /*La fila de estadisticas*/
 .container-stat{
   /*position: relative; top: -50px;*/
   margin-top: 15px;
 }
 /*Los enlaces de estadisticas*/
 .container-stat .row{
   /*background-color: #B00100;*/
 }
 .container-stat >.row > div{
   /*height: 55px;*/
 }
 //ESTILOS PARA PROFILE
 .enlaces-perfil{
   display: block;
   text-decoration: none;
   //background-color: #4285f4;
   background-color: rgb(66,139,202);
   height: 55px;
   padding: 18px;
   //margin-top: 15px;
   //margin-right: 32px;
   color: white;
   width: 100%;
   margin-bottom: 3px;
   border-radius: 3px;
 }
 .pull-right-g {
  float: right !important;
}
.estado{
  color: #F2F2F2;
}
 .enlaces-perfil:hover{
   text-decoration: none;
   background-color: rgb(58, 83, 155);
   color: white;
   font-size: 1.5em;
   padding: 13px;
   cursor: pointer;
   box-shadow: 0 0 5px rgba(0,0,0,0.5);
 }
 .btn{
   //border-radius: 0;
 }
 .contenedor-enlaces{
   background-color: white;
   padding: 10px;
   border-radius: 8px;
 }
 .right-group-menu{
   position: fixed;
   align:left;
 }
 .thumbnail {
   padding: 0 0 2px 0;
   border: none;
   border-radius: 0;
   width: 90px;
   height: 90px;
   box-shadow: 0 0 5px rgba(0,0,0,0.5);
 }
 .thumbnail p {
   margin-top: 15px;
   color: #555;
 }
 .img-sugerencia{
   width: 70px;
   height: 70px;
 }
 .contenedor-sugerencia{
   box-shadow: 0 0 5px rgba(0,0,0,0.5);
   //border: 1px solid red;
   margin: 8px 3px 8px 3px;
   padding-top: 5px;
   padding-bottom: 5px;
 }
 .my-btn{
   //margin-top: 25px;
   //padding: 10px 20px;
   //background-color: #333;
   //color: #f1f1f1;
   //border-radius: 0;
   //transition: .2s;
   width: 50px;
 }
 .my-btn:hover, .my-btn:focus {
   border: 1px solid #333;
   background-color: #fff;
   color: #000;
 }
 .col-md-4{
   //border: 1px solid red;
 }
 .col-derecha{
   background-color: white;
   border-radius: 8px;
 }
 .texto-sugerencias{
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 18px;
 }
 .contenedor-sugerencia p{
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 16px;
 }

 //-----------------------------Layout
 .img-navbar{
   //border: 1px solid red;
   position: relative;
   height: 40px;
   width: 40px;
   border-radius: 50%;

 }
 .prueba{
   padding: 5px!important;
   margin: 0!important;
 }


 //---------------------------BANDEJA DE ENTRADA
 .nav-pills > li >a{
   border-radius: 0;
   padding-top: 25px;
   padding-bottom: 25px;
   background-color: white;
   border: thin solid lightgray;
 }

 .msg-title{
   background-color: #337ab7;
   color: white;
   padding: 15px 15px;
   //color: #333333;
   margin: 0 0 2px 0;
   //border-radius: 5px;
  }
 .msg-container{
   padding: 15px;
   border-radius: 8px;
 }
 .item-msg:hover{
   border-left: 5px solid #337ab7;
 }
 .list-group-item{
   border-radius: 0!important;
 }
 .email-item:hover{
   border-left: 3px solid #337ab7;
   background-color: rgba(#337ab7,0.1);
 }
 //.email-item{
 //  border-right: 3px solid green;
 //
 //}
 .item-msg-mailbox-active{
   border-left: 5px solid #337ab7;
 }

 .paginacion{
   text-align: center;
   //border: 1px solid red;
   margin-top: -20px;
   background-color: white;
 }
 .pagination{
   padding-top: 3px;
   margin: 0 auto;
 }
 .btn-danger{

 }
 .fix-vertical-align{
    padding-top: 8px;
 }

 .icon-trash{
   margin: 4px 0 0 0;
   color: #dd4b39;
   //border-bottom: 3px solid brown;
 }
 .icon-trash:hover{
   margin: 4px 0 0 0;
   border-bottom: 3px solid brown;
 }


 .is_send{
   color: #00c0ef;
   font-size: 1.5em;
   position: relative;
   top: 5px;
   padding-right: 10px;

 }
 //-------estadisticas de mensjes
 .info-box {
   display: block;
   min-height: 70px;
   background: #fff;
   width: 100%;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
   border-radius: 2px;
   margin-bottom: 5px;
 }
 .info-box-icon {
   border-top-left-radius: 2px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 2px;
   display: block;
   float: left;
   height: 70px;
   width: 70px;
   text-align: center;
   font-size: 45px;
   line-height: 70px;
   background: rgba(0, 0, 0, 0.2);
 }
 .bg-green{
   color: #fff !important;
   background-color: #008d4c !important;
 }
 .bg-yellow{
   color: #fff !important;
   background-color: #f39c12 !important;
 }
 .bg-red{
   color: #fff !important;
   background-color: #dd4b39 !important;
 }
 .bg-aqua{
   color: #fff !important;
   background-color: #00c0ef !important;
 }

 .info-box-content {
   padding: 5px 10px;
   margin-left: 70px;
 }
 .info-box-text {
   text-transform: uppercase;
 }
 .info-box-number {
   display: block;
   font-weight: bold;
   font-size: 18px;
 }
 //------------------Bandeja de salida
 .icon-restore{
   font-size: 0.8em;
   padding: 0;
   margin: 0;
   //border: 1px solid royalblue;
   float: right;
 }
 //------------------Bandeja de papelera
 .empty-trash{
   float: right;
   margin-right: -15px;
   margin-top: -15px;
   //width: 100%;
 }
 .empty-trash>a{
   padding-bottom: 21px;
   padding-top: 15px;
 }
 //-------------------Formulario de mensaje
 .form-msg{
   margin: 1px 0!important;
   //border: 1px solid royalblue;
   border-radius: 0;
 }
 //------------------Enviados
 .is_read{
   color: darkgreen;
   font-size: 1.5em;
   position: relative;
   top: 5px;
   padding-right: 10px;
 }
 .is_unread{
   color: orange;
   font-size: 1.5em;
   position: relative;
   top: 5px;
   padding-right: 10px;
 }
 .is_trashed{
   color: #dd4b39;
   font-size: 1.5em;
   float: left;
   top: 10px;
   padding-right: 15px;
 }

 .img-participant-first{
   height: 48px;
   width: 48px;
   border-radius: 50%;
   padding: 0;
   margin: 0;
   display: inline;
 }
 .img-participant-second{
   height: 38px;
   width: 38px;
   border-radius: 50%;
   padding: 0;
   margin: 0;
   display: inline;
 }
 .img-participant-third{
   height: 30px;
   width: 30px;
   border-radius: 50%;
   padding: 0;
   margin: 0;
   display: inline;
 }
 .participant-names{
   //border: 1px solid red;
   display: inline;
   float: right;
   list-style-type: none;
 }
 .img-participant-others{
   font-size: 0.8em;
   border-radius: 50%;
   padding: 8px;
   margin: 0;
   display: inline;
   background-color: #333333;
   color: white;
 }
 .container-mailbox{
   //display: none;
 }
 //-----------contenido del msg
 .messages {
 max-height: 400px;
 overflow-y: auto;
 margin-bottom: 1em;
 margin-top: 1em;
 }
 .contenedor-responder{
 background-color: white;
 padding: 15px;
 margin-top: 15px;
 border-radius: 8px;
 }
 .messages > span{
   font-size: 0.8em;
 }

 //-----conversacion
 .contenedor-responder{
   //border: 1px solid blue;
   margin-top: 0;
   border-radius: 0;
 }

 ////////Links dropdown para correo

 .dropdown-menu{
   //margin-top: 6px!important;
 }
 .dropdown-menu li{
   width: 350px;
   font-size: 0.8em;
   //border: 1px solid red;
 }
 .dropdown-menu li a{
   width: 350px;
   font-size: 0.9em;
   //border: 1px solid blue;
   display: block;
   text-decoration: none;
   margin-left: 15px;
   margin-bottom: 3px;
 }
 .dropdown-menu li a:hover{
   width: 335px;
   font-size: 0.9em;
   display: block;
   text-decoration: none;
   margin-left: 15px;
   margin-bottom: 3px;
   border-left: 3px solid #337ab7;
 }
 .ver-todos{
   text-align: center;
 }
 .ver-todos>a{
   margin-left: 0!important;
 }
 .inbox-notify{
   background: rgba(223,0,0,0.6);
   position:relative;
   top: -12px;
   left: 2px;
 }
 .dropdown-menu-inbox{
   max-height: 254px;
   overflow-y: auto;
 }
 .ver-todos > a:hover{
   color: #337ab7!important;
   border-left: 0!important;
 }

 //----------------------------------fix-message after create
 #messages{
   display: none;
 }
 .navbar img {
  float: left;
  width: 10px;
  height: 10px;
  background: #555;
}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-control{width:20%}
.navbar-nav > li > a {
  border-right: 1px solid #ddd;
  padding-bottom: 15px;
  padding-top: 15px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: -160px;
    width: 100%; /* Full width */
    height: 120; /* Full hei ght */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}





///resumes!!




.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.container-cv {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container-cv {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-cv {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-cv {
    width: 1170px;
  }
}

.line-separator-blue{
  height:3px;
  width:93%;
  background:#717171;
  background-color: #000099;
  border-bottom:1px solid #000099;
}
.line-separator-red{
  height:3px;
  width:93%;
  background:#7d1c41;
  background-color: #7d1c41;
  border-bottom:1px solid #7d1c41;
}
.section-title-blue{
  display:inline-block;
  background-color: #000099;
  padding: 1px;
  color: #ffffff;
  width:auto;
  padding-rigth: 20px;
}
.section-title-red{
  display:inline-block;
  background-color: #7d1c41;
  padding: 1px;
  color: #ffffff;
  width:auto;
  padding-rigth: 20px;
}
.section-container-blue b{
  color: #000099;
}
.section-container-blue p{
  color: #000000;
}
.section-container-blue{
  color: 	#00000;
}
.section-container-blue h3{
  color: #1a1aff;
}
.section-container-red b{
  color: #7d1c41;
}
.section-container-red p{
  color: #000000;
}
.section-container-red{
  color: 	#000000;
}
.section-container-red h3{
  color: #bf0d19;
}
.cv-title-name{
  left:5%;
  position:  auto;
}
.vertical-title{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.vertical-section-blue{
  right: auto;
  border: 5px solid #000099;
  padding-bottom: 21px;

}
.vertical-section-red{
  right: auto;
  border: 5px solid #7d1c41;
  padding-bottom: 21px;

}



//// reportes

// Place all the styles related to the report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.glyphicon-remove{
  left:100%;
}
//
.sidenav {
    // height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 30px;
    left: 20%;
    // background-color: #111;
    transition: 0.3s;
    padding-top: 60px;
}
#mySidenav ul {
    // box-shadow: 0 0 3px rgba(0,0,0,.4);
    list-style-type: none;
    text-align: center;
}
#mySidenav > ul li {
    background: #FFf;
}
// #mySidenav li a {
//     display: block;
//     text-decoration: none;
//     font-size: 1rem;
//     line-height: 2.5rem;
//     color: #444;
// }
// #mySidenav li:hover a, #menu_gral li a:focus {
//     background: #8DA889;
//     color: #fff;
// }
//
// .sidenav a {
//     padding: 8px 8px 8px 32px;
//     text-decoration: none;
//     font-size: 12px;
//     color: #818181;
//     display: block;
//     transition: 0.3s;
// }
// .sidenav span{
//   color: #818181;
//
// }
// .sidenav a:hover {
//     color: #f1f1f1;
// }
//
// .sidenav .closebtn {
//     position: absolute;
//     top: 0;
//     right: 25px;
//     font-size: 36px;
//     margin-left: 50px;
// }
//
// #main {
//     transition: margin-left .5s;
//     padding: 16px;
// }
//
// .dropbtn {
//     background-color: #4CAF50;
//     color: white;
//     padding: 16px;
//     font-size: 16px;
//     border: none;
//     cursor: pointer;
// }
.submenu {
    position: relative;
    left: -20%;
}
//
// .submenu .dropdown-menu {
//     top: 0;
//     left: 100%;
//     margin-top: -1px;
// }
#mySidenav {
width: 20vw;
margin: 0 1rem;
}
#mySidenav li ul {
  position: absolute;
  width: 0;
  top: 0;
  left:100%;
  overflow: hidden;
  display:block;
}
#mySidenav li:hover ul, #menu_gral li:focus ul {
    width: 100%;
    background:  #bbb;
    z-index: 5;
}
#mySidenav li li {
  display: block;
  width:100%;

}
// #mySidenav li a,#mySidenav li:focus li a {
//   display: block;
//   line-height: 9rem;
//   border-top: 1px solid;
//   background: #444;
// }
#mySidenav li li a:hover, #mySidenav li li:focus {
  background: #8AA9B8;
}
#mySidenav li:hover ul,
#mySidenav li:focus ul {
    width: 100%;
    z-index: 5;
    // margin: 0 -4rem -4rem -4rem;
    // padding: 0 4rem 4rem 4rem;
    background:  #bbb;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}






//INIKCIOOOO







// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a,
#home-slider .caption h1 span,
#twitter-carousel .item span,
#footer .footer-bottom,
#single-portfolio .close-folio-item:hover,
.single-table.featured .btn.btn-primary,
.contact-info ul li a:hover,
#footer .footer-bottom a  {
  color: #028fcc;
}

.btn.btn-primary:hover,
.btn-submit:hover {
  background-color: #027db3
}

a:hover, a:focus {
	color: #027db3;
}

.main-nav,
.service-icon,
.progress-bar.progress-bar-primary,
.single-table.featured,
.btn.btn-primary,
.twitter-icon .fa-twitter,
.twitter-left-control:hover, .twitter-right-control:hover,
.post-icon,
.entry-header .date:after,
.btn-loadmore:hover,
.btn-submit,
#footer,
.caption .btn-start:hover,
.left-control:hover,
.right-control:hover,
.folio-overview a:hover {
  background-color:#028fcc;
}

.twitter-left-control:hover,
.twitter-right-control:hover,
.btn-loadmore:hover  {
	border: 1px solid #028fcc;
}

.caption .btn-start:hover,
.left-control:hover,
.right-control:hover {
	border-color: #028fcc;
}

.twitter-icon .fa-twitter:after {
	border-color: #028fcc transparent transparent;
}


/*************************
********Home CSS**********
**************************/
#home-slider {
  overflow: hidden;
  position: relative;
}

#home-slider .caption {
  position: absolute;
  top: 50%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 15;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

#home-slider .caption h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

.caption .btn-start {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding:14px 40px;
  border: 1px solid #6e6d6c;
  border-radius: 4px;
  margin-top: 40px;
}

.caption .btn-start:hover {
  color: #fff
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2037px;
}

.carousel-fade .carousel-inner .item:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.7);
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-letters {
  color: #BDBDBD;
}
.service-text{
  color: #E6E6E6;
}
.left-control, .right-control {
  position: absolute;
  top: 50%;
  height: 51px;
  width: 51px;
  line-height: 48px;
  border-radius: 50%;
  border:1px solid #fff;
  z-index: 20;
  font-size: 24px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.left-control {
  left: -51px
}

.right-control {
  right: -51px;
}

.left-control:hover,
.right-control:hover {
  color: #fff;
}

#home-slider:hover .left-control {
  left:30px
}

#home-slider:hover .right-control {
  right:30px
}

#home-slider .fa-angle-down {
  position: absolute;
  left: 50%;
  bottom: 50px;
  color: #fff;
  display: inline-block;
  width: 24px;
  margin-left: -12px;
  font-size: 24px;
  line-height: 24px;
  z-index: 999;
  -webkit-animation: bounce 3000ms infinite;
  animation: bounce 3000ms infinite;
}

.navbar-right li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-right li.active a {
  background-color: rgba(0,0,0,.2);
}

.navbar-brand h1 {
  margin-top: 5px;
}

/*************************
********Service CSS*******
**************************/

.service-icon {
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 36px;
  height: 90px;
  line-height: 90px;
  width: 90px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.our-services .col-sm-4:hover .service-icon {
  background-color: #333;
}

.our-services .col-sm-4 {
  border-right:1px solid #f2f2f2;
  border-bottom:1px solid #f2f2f2;
  padding-bottom: 50px;
}

.our-services .col-sm-4:nth-child(4),
.our-services .col-sm-4:nth-child(5),
.our-services .col-sm-4:nth-child(6) {
  border-bottom:0;
  padding-top: 60px;
}

.our-services .col-sm-4:nth-child(3),
.our-services .col-sm-4:nth-child(6) {
  border-right:0;
}

.service-info h3 {
  margin-top: 35px;
}

/*************************
********About CSS*******
**************************/
#about-us {
  background-image: url(estadistica.jpg);
  padding: 60px 0;
}

#about-us h2 {
  margin-top: 0;
  color: #fff;
}

#about-us .lead {
  font-size: 16px;
  margin-bottom: 10px;
}

#about-us h1 {
  margin-bottom: 30px;
}

.progress{
  height: 20px;
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 25px;
}

.progress-bar{
  box-shadow: none;
  -webkit-box-shadow: none;
  text-align: right;
  padding-right: 12px;
  font-size: 12px;
  font-weight: 600;
}


.progress .progress-bar.six-sec-ease-in-out {
  -webkit-transition: width 2s ease-in-out;
  transition:  width 2s ease-in-out;
}

/*************************
********portfolio CSS*****
**************************/

#portfolio .container-fluid,
#portfolio .col-sm-3  {
  overflow: hidden;
  padding: 0;
}

#portfolio .folio-item {
  position: relative;
}

#portfolio .overlay {
  background-color: #000;
  color: #fff;
  left: 0;
  right:0;
  bottom:-100%;
  height: 0;
  position: absolute;
  text-align: center;
  opacity:0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.overlay .overlay-content {
  display: table;
  height: 100%;
  width: 100%;
}

.overlay .overlay-text {
  display: table-cell;
  vertical-align: middle;
}

.overlay .folio-info {
  opacity: 0;
  margin-bottom: 75px;
  margin-top: -75px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.overlay .folio-info h3 {
  margin-top: 0;
  color: #fff;
}

.folio-overview a {
  font-size: 18px;
  color: #333;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
}

.folio-overview a:hover {
  color: #fff;
}

.folio-overview .folio-expand {
  margin-top: -500px;
  margin-left: -500px;
}

.folio-image, .folio-overview .folio-expand {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

#portfolio .folio-item:hover .folio-image {
  -webkit-transform: scale(1.5) rotate(-15deg);
  transform: scale(1.5) rotate(-15deg);
}

.folio-image img {
  width: 100%;
}

#portfolio .folio-item:hover .overlay {
  opacity: 0.8;
  bottom: 0;
  height: 100%;
}

#portfolio .folio-item:hover .folio-overview .folio-expand {
  margin-top: 0;
  margin-left:0;
}

#portfolio .folio-item:hover .overlay .folio-info {
  opacity: 1;
  margin-bottom:0;
  margin-top:0;
}


#single-portfolio {
  padding: 90px 0;
  background: #f5f5f5;
  position: relative;
}

#single-portfolio img {
  width: 100%;
  margin-bottom: 10px;
}

#single-portfolio .close-folio-item {
  position: absolute;
  top: 30px;
  font-size: 34px;
  width: 34px;
  height: 34px;
  left: 50%;
  color: #999;
  margin-left: -17px;
}

/*************************
*********Team CSS*********
**************************/
#team {
  padding-top: 0;
}

.team-members {
  margin-bottom: 25px;
}

.social-icons {
  margin-top:30px;
  text-align: center;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social-icons ul li {
  float: left;
  margin-right: 8px;
}

.social-icons ul li:last-child {
  margin-right: 0;
}

.social-icons ul li a {
  color:#fff;
  background-color: #d9d9d9;
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: block;
  font-size: 16px;
  opacity: 0.8;
}

.social-icons ul li a:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.team-member {
  text-align: center;
  color: #333;
  font-size: 14px;
}

.team-member:hover .social-icons ul li a.facebook {
  background-color: #3b5999;
}
.team-member:hover .social-icons ul li a.twitter {
  background-color: #2ac6f7;
}
.team-member:hover .social-icons ul li a.dribbble {
  background-color: #ff5b92;
}
.team-member:hover .social-icons ul li a.linkedin {
  background-color: #036dc0;
}
.team-member:hover .social-icons ul li a.rss {
  background-color: #ff6b00;
}

#team .img-responsive {
  width: 100%;
}

.member-info h3 {
  margin-top: 35px;
}

.member-info h4 {
  font-size: 14px;
  margin-bottom: 15px;
  color: #999;
}


/*************************
*******Features CSS*******
**************************/
#features {
  text-align: center;
  background-image: url(stat.jpg);
}

#features i {
  font-size: 48px;
}

#features h3 {
  margin-top: 15px;
  font-size: 30px;
  margin-bottom: 7px;
  color: #fff;
}

#features .slider-overlay {
  opacity: 0.8;
}


/*************************
*****Pricing Table CSS****
**************************/
.pricing-table {
  text-align: center;
}

.single-table {
  padding: 30px 20px 20px;
  border:1px solid #f2f2f2;
}

.single-table h3 {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.price {
  font-size: 36px;
  line-height: 36px;
}

.price span {
  font-size: 14px;
  line-height: 14px;
}

.single-table ul {
  list-style: none;
  padding: 0;
  margin: 30px 0;
}

.single-table ul li {
  line-height: 30px;
}

.single-table.featured {
  color: #fff;
}

.single-table.featured h3 {
  color: #fff;
}

.single-table.featured .btn.btn-primary {
  background-color: #fff;
}

/*************************
********Twitter CSS*******
**************************/
#twitter {
  background-image: url(contratar.jpg);
}

#twitter > div {
  text-align: center;
  position: relative;
}

#twitter-carousel {
  position: relative;
  z-index: 15
}

.twitter-icon {
  position: relative;
  z-index: 15;
  color: #fff;
}

.twitter-icon .fa-twitter {
  font-size: 24px;
  height: 64px;
  width: 64px;
  line-height: 65px;
  border-radius: 50%;
  position: relative;
}

.twitter-icon .fa-twitter:after {
  position: absolute;
  content: "";
  border-width: 8px;
  border-style: solid;
  left: 24px;
  bottom: -14px;
}

#twitter-carousel .item {
  padding: 0 55px;
}

#twitter-carousel .item a {
  color: #fff;
}

.twitter-icon h4 {
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #fff;
}

.twitter-left-control,
.twitter-right-control {
  position: absolute;
  top: 50%;
  color: #fff;
  border: 1px solid #fafafa;
  height:34px;
  width: 34px;
  line-height: 31px;
  margin-top: -17px;
  font-size: 18px;
  border-radius: 50%;
  z-index: 15
}

.twitter-left-control {
  left: 80px;
}

.twitter-right-control {
  right: 80px
}

.twitter-left-control:hover, .twitter-right-control:hover {
  color: #fff;
}


/*************************
**********Blog CSS********
**************************/

.post-thumb {
  position: relative;
}

.post-icon {
  position: absolute;
  top:10px;
  right:10px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius:4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.post-meta {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.post-meta span {
  margin-right: 16px;
}

#post-carousel .carousel-indicators {
  bottom: 3px;
  left: 90%;
}

.blog-left-control, .blog-right-control {
  position: absolute;
  top: 45%;
  width: 30px;
  text-align: center;
  color: rgba(255,255,255,.7);
  font-size: 36px;
}

.blog-left-control {
  left: 0;
}

.blog-right-control {
  right: 0;
}

.blog-left-control:hover, .blog-right-control:hover {
  color: #fff;
}

.entry-header h3 a {
  line-height: 30px;
}

.entry-header .date,
.entry-header .cetagory {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
  position: relative;
}

.entry-header .date:after {
  content: "";
  position: absolute;
  left: 0;
  bottom:-22px;
  width: 20px;
  height: 3px;
}

.entry-content {
  font-size: 14px;
}

.load-more {
  display:block;
  text-align: center;
  margin-top: 70px;
}

.btn-loadmore {
  border: 1px solid #f2f2f2;
  color: #666666;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 125px;
  text-transform: uppercase;
}

.btn-loadmore:hover {
  color:#fff;
}

/*************************
**********Contact CSS*****
**************************/

#contact {
  padding-top: 45px;
  padding-bottom: 0;
}

#google-map {
  height: 350px;
}

#contact-us {
  background-image:url(contact-bg.jpg);
  padding-bottom: 90px;
}

#contact-us .heading {
  padding-top: 95px;
}

.form-control {
  background-color: transparent;
  border-color: rgba(255,255,255,.1);
  height: 50px;
  border-radius: 0;
  box-shadow: none;
}

textarea.form-control {
  min-height: 180px;
  resize:none;
}

.form-group {
  margin-bottom: 30px;
}

.contact-info {
  padding-left:70px;
  font-weight: 300;
}

ul.address {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info ul li {
  margin-bottom: 8px;
}

.contact-info ul li a {
  color: #fff;
}

.btn-submit {
  display: block;
  padding: 12px;
  width: 100%;
  color: #fff;
  border:0;
  margin-top: 40px;
}

#footer {
  color:#fff;
}

.footer-top {
  position: relative;
  padding:30px 0
}

#footer .footer-bottom {
  background-color: #fff;
  padding: 20px 0 10px;
}

#footer .footer-bottom a:hover {
  text-decoration: underline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 5px;
}

#footer .social-icons {
  margin-top: 15px;
}

#footer .social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .social-icons ul li a {
  background-color: rgba(0,0,0,.2);
  border-radius: 4px;
  line-height: 33px;
}

#footer .social-icons ul li a:hover {
  color: #fff
}

#footer .social-icons ul li a.envelope:hover {
  background-color: #CECB26;
}

#footer .social-icons ul li a.facebook:hover {
  background-color: #3b5999;
}
#footer .social-icons ul li a.twitter:hover {
  background-color: #2ac6f7;
}
#footer .social-icons ul li a.dribbble:hover {
  background-color: #ff5b92;
}
#footer .social-icons ul li a.linkedin:hover {
  background-color: #036dc0;
}
#footer .social-icons ul li a.tumblr:hover {
  background-color: #ff6b00;
}

/*Presets*/




///REGISTRATIONNNN


strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #de615e;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #de615e; color: #fff; text-shadow: none; }
::selection { background: #de615e; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #de615e;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus,
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

.inner-bg {
    padding: 100px 0 170px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover,
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 35px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}


////select!!
.center-select > select  {
margin: 50px;
width: 400px;
padding: 5px 35px 5px 5px;
font-size: 16px;
border: 1px solid #ccc;
height: 34px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
  .center-select{
    padding-left:25%;
  left:30%;
  }
