<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>Sugerencias</h1>
    </div>
    <div class="panel-body">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Comentarios</th>
          <th>Usuarios</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @suggestions.each do |suggestion| %>
          <tr>
            <td class="tabla"><%= suggestion.comment %></td>
            <td><p><%= suggestion.user.name %></p></td>
            <td><%= link_to 'Mostrar Completo', suggestion %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>

<%= link_to 'Nueva Sugerencia', new_suggestion_path %>
<script>
function truncateText(selector, maxLength) {
    var element = document.querySelector(selector),
        truncated = element.innerText;

    if (truncated.length > maxLength) {
        truncated = truncated.substr(0,maxLength) + '...';
    }
    return truncated;
}

var datos = document.getElementsByClassName('tabla')
for (var i=0; i<datos.length;i++){
    datos[i].innerHTML = datos[i].innerText.substr(0,50)+'...';
}
</script>
