<a href="/reportes"><button class="btn btn-primary">Volver Atras</button></a>
<div class="container">
<h1>Lista de reportes</h1>
  <div class="panel panel-primary">
    <div class="panel-heading"><div class="panel-title"style="padding-top:1px;padding-bottom:1px"><h3 style="margin-top:10px">Empresas clasificadas por código CIUU</h3></div></div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
              <div >
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" >
                      <tr>
                        <th style="text-align: center;">&nbsp;Categoría según código CIUU &nbsp;</th>
                        <th style="text-align: center;">&nbsp;Número de empresas registradas&nbsp;</th>
                      </tr>
                      <% @companies_names.each do |date|%>
                        <tr>
                          <td>&nbsp;<%=date[0]%>&nbsp;</td>
                          <td style="text-align: center;"><%= date[1]%></td>
                        </tr>
                        <%end%>
                      </table>
                    </div>
              </div>
              <button class="btn btn-default btn-sm pull-right" id="mostrarEmpresasC" onclick="showEmpresasC()" style="display:none;">Mostrar Gráfica Estadística</button>
              <button class="btn btn-default btn-sm pull-right" id="ocultarEmpresasC" onclick="showEmpresasC()">Ocultar Gráfica Estadística</button>
              <br><br><br>
            </li>
            <li class="list-group-item">
              <div id="by_ciu">
                <%= column_chart @companies_names,stacked:true%>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </div>

<script>
var empresasC = document.getElementById("by_ciu");
var botonOcultarEC = document.getElementById("ocultarEmpresasC");
var botonMostrarEC = document.getElementById("mostrarEmpresasC");
window.onload =function(){
  botonMostrarEC.style.display="block";
  botonOcultarEC.style.display="none";
  empresasC.style.display="none";
}
function showEmpresasC() {
    if (empresasC.style.display === "none") {
        empresasC.style.display = "block";
        botonMostrarEC.style.display="none";
        botonOcultarEC.style.display="block";
    } else {
        empresasC.style.display = "none";
        botonMostrarEC.style.display="block";
        botonOcultarEC.style.display="none";
    }
}
</script>
