<a href="/reportes"><button class="btn btn-primary">Volver Atras</button></a>
<div class="container">
<h1>Lista de reportes</h1>
  <div class="panel panel-primary">
    <div class="panel-heading"><div class="panel-title" style="padding-top:1px;padding-bottom:1px"><h3 style="margin-top:10px">Titulados por carrera en la UCB</h3></div></div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div>
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover" style="text-align: center;">
                    <tr>
                      <th style="text-align: center;">&nbsp;Carrera&nbsp;</th>
                      <th style="text-align: center;">&nbsp;Número de personas registradas&nbsp;</th>
                    </tr>
                    <% @career_users.each do |date|%>
                      <tr>
                        <td>&nbsp;<%=date[0]%>&nbsp;</td>
                        <td ><%= date[1]%></td>
                      </tr>
                      <%end%>
                    </table>
                  </div>
            </div>
            <button class="btn btn-default btn-sm pull-right" id="mostrarCarrera" onclick="showCarrera()" style="display:none;">Mostrar Gráfica Estadística</button>
            <button class="btn btn-default btn-sm pull-right" id="ocultarCarrera" onclick="showCarrera()">Ocultar Gráfica Estadística</button>
            <br><br>
          </li>
          <li class="list-group-item">
            <div id="by_career">
              <%= bar_chart @career_users,download:"grafica"%>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script>
  var carrera = document.getElementById("by_career");
  var botonOcultarC = document.getElementById("ocultarCarrera");
  var botonMostrarC = document.getElementById("mostrarCarrera");
  window.onload =function(){
    botonMostrarC.style.display="block";
    botonOcultarC.style.display="none";
    carrera.style.display="none";
  }
  function showCarrera() {
      if (carrera.style.display === "none") {
          carrera.style.display = "block";
          botonMostrarC.style.display="none";
          botonOcultarC.style.display="block";
      } else {
          carrera.style.display = "none";
          botonMostrarC.style.display="block";
          botonOcultarC.style.display="none";
      }
  }
  </script>
