<a href="/reportes"><button class="btn btn-primary">Volver Atras</button></a>
<div class="container">
  <h1>Lista de reportes</h1>
    <div class="panel panel-primary">
      <div class="panel-heading"><div class="panel-title" style="padding-top:1px;padding-bottom:1px"><h3 style="margin-top:10px">Personas registradas por Universidad</h3></div></div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <button class="btn btn-warning btn-sm pull-right" id="mostrarUniversidad" onclick="showUniversidad()" style="display:none;">Mostrar Gráfica Estadística</button>
              <button class="btn btn-warning btn-sm pull-right" id="ocultarUniversidad" onclick="showUniversidad()">Ocultar Gráfica Estadística</button>
              <div >
                <div class="container">
                  <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" style="text-align: center;">
                      <tr>
                        <th style="text-align: center;">&nbsp;Universidad&nbsp;</th>
                        <th style="text-align: center;">&nbsp;Numero de estudiantes registrados&nbsp;</th>
                      </tr>
                      <% @university_users.each do |date|%>
                      <tr>
                        <td>&nbsp;<%=date[0]%>&nbsp;</td>
                        <td ><%= date[1]%></td>
                      </tr>
                      <%end%>
                    </table>
                  </div>
                </div>
              </div>
              <li class="list-group-item">
                <div id="by_university" style="display:none">
                  <%= bar_chart @university_users, stacked: true%>
                </div>
              </li>
            </li>
          </ul>
        </div>
      </div>
    </div>

<script>
var uni = document.getElementById("by_university");
var botonOcultarU = document.getElementById("ocultarUniversidad");
var botonMostrarU = document.getElementById("mostrarUniversidad");
window.onload =function(){
  botonOcultarU.style.display="none";
  botonMostrarU.style.display="block";
  uni.style.display="none";
}
function showUniversidad() {
    if (uni.style.display === "none") {
        uni.style.display = "block";
        botonMostrarU.style.display="none";
        botonOcultarU.style.display="block";
    } else {
        uni.style.display = "none";
        botonMostrarU.style.display="block";
        botonOcultarU.style.display="none";
    }
}

</script>
