<p>Hola <%= @resource.email %>!</p>
<%= @resource%>
<p>Alguien pidió un link para la recuperación de la contraseña de esta cuenta.</p>


<p>Si tu no lo hiciste, por favor ignora este correo.</p>
<p>tu contraseña no cambiara hasta que accedas al siguiente link.</p>
<p>Gracias por ser parte de nuestra red.</p>
<p>Atentamente el equipo de Bolsa de Trabajo</p>
<p><%= link_to 'Cambiar mi contraseña', 'bolsadetrabajo.ucbcba.edu.bo/password/edit', :reset_password_token=> @token %></p> =/
<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token=> @token) %></p>
